# LaTeX编译中间文件
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.dvi
# 编译生成PDF（可选：不想传成品pdf就保留这行，想保存pdf就注释掉#*.pdf）
#*.pdf
# VSCode配置、临时文件
.vscode/
*.tmp
# 系统缓存
.DS_Store
Thumbs.db